    {% block _quantity_widget %}
        <div class="stock-info" {{ block('block_attributes') }}>
            <p class="{{ quantity > 0 ? 'in_stock' :'out_of_stock'}}">
                {{ quantity | number_format(0,',','.')}} in stock
            </p>
        </div>
    {% endblock %}
    {% block _stock_alert_subscribe_link_widget %}
        {% set hasStock = product.has_stock_alert ?? synolia_product_has_stock_alert(product) %}
        {% set attr = layout_attr_defaults(attr, {
            'data-page-component-view': 'synoliastockalert/js/app/views/stock-alert',
            'data-page-component-options': {'productId': product.id, 'hasStock': hasStock }|json_encode,
        }) %}
        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
                <a class="create-stock-alert" href="" style="display: none">
                    <span class="fa-envelope"> </span>
                    {{ 'synolia.stockalert.alert.register.title'|trans }}
                </a>
                <a class="delete-stock-alert" href="#" style="display: none">
                    <span class="fa-trash"> </span>
                    {{ 'synolia.stockalert.alert.unregister.title'|trans }}
                </a>
        </div>
    {% endblock %}

